.TCropInput{
	display: none;
}
.TCropLabel{
		position: relative;
		overflow: hidden;
		cursor: pointer;
		display: block;
		min-height: 25px;
		min-width: 100px;
}
.TCropLabel div{
	background: transparent no-repeat 50% 50%;
	position: relative;
	z-index: 9;
}
.TCropLabel span{
	font-size: 25px;
	line-height: 1;
	z-index: 10;
	text-align: center;
	position: absolute;
	width: 100px;
	height:25px;
	opacity: 1;
	top:0;left: 0;bottom: 0;right: 0;
	margin: auto;
	display: none;	
	font-family: tahoma,arial,helvetica, sans-serif;
	color: #fff;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

}
.TCropLabel:hover div{
	text-indent: 0;
	-webkit-filter: blur(3px);
  	-moz-filter: blur(3px);
  	-o-filter: blur(3px);
  	-ms-filter: blur(3px);
  	filter: blur(3px);
}
.TCropLabel:hover span{
	display: block;
}
.TCropHolder{
	overflow: hidden;
	background: #fff;
	position: relative;
	margin: 0 auto;
	clear: both;
}
.TCropWrap{display: none}
.TCropHelper{position: absolute;cursor:move;}
.TCropOverX , .TCropOverY{background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5)}
.TCropOverY{float:left;}
.TCropOverX{clear:both;}
.TCropVisual{ float:left;position: relative;}
.TCropVisual:before{
	top:-2px;
	left:-2px;
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	border:2px dashed #fff;
}
.TCropImg{z-index: 520; }
.TCropOverlay{z-index: 525;position: absolute;}
.TCropHelper{z-index: 530; cursor:move;}
.TCropContain, .TCropImg, .TCropHelper{position: absolute;}
.TCropContain{
	top:50%;
	left:50%;
}
.TCropSlider{
	margin: 22px 0;
	width: 75%;
	float: left;
	box-sizing: border-box;
}
.TCropSend{
	width: 20%;
	margin: 10px 0;
	float: right;
	box-sizing: border-box;
}
.TCropStandby{
	background: url(loading_spinner.gif) 50% 50%;
}
#testlink{

clear: both;
}
.TCropSettingsWrap{
	float:left;
	font-size: 12px;
	line-height: 1;
}
.TCropScrop, .TCropSholder{
	margin-left:5px; 
}
.TCropScropW, .TCropScropH ,.TCropSholderW,.TCropSholderH{
	width:50px;
	margin: 5px ;
}
.TCropSettingsWrap{
	margin-bottom: 10px;
}
.TCropTestpanel{
	float: right;
	font-size: 12px;
}
.TCropTestpanel input[type="text"]{
	width: 80%;
}
.TCropTestpanel input[type="text"]+input[type="button"]{
	width: 20%;
	margin: 0 ;
}
.TCropTestpanel input{
	box-sizing: border-box;
}
.load_b{
	background: !important url('load_b.gif');
    background-repeat: !important no-repeat;
    background-size: !important contain;
}